# Last match in file takes precedence.

/Content.*/ @dffdff2423
/Resources/Prototypes @dffdff2423
/Resources/Locale @dffdff2423
/Resources/ServerInfo @dffdff2423
/.github @dffdff2423

/Resources/ServerInfo/Guidebook/ServerRules/ @Nairodian
/Resources/ServerInfo/Guidebook/_CD/ic-policy.xml @Nairodian
/Resources/ServerInfo/Guidebook/_CD/sop/ @Nairodian
/Resources/Maps/ @Nairodian
/Resources/Prototypes/**/Roles @Nairodian
/Resources/Prototypes/**/Loadouts @Nairodian
/Resources/Prototypes/**/Recipes @Nairodian
